# In case watchdog-ostree-start was run before reboot, stop the
# watchdog on completed build

[Unit]
Description=Stop watchdog after update on successful boot
Requires=boot-complete.target
After=boot-complete.target

[Service]
Type=oneshot
ExecStart=/usr/bin/watchdog-stop

[Install]
WantedBy=multi-user.target
