# This service file when enables integrates with ostree and greenboot
# to enable the watchdog when finishing the staged deploy during
# reboot.

[Unit]
Description=Start watchdog before ostree stage finish (on update)
DefaultDependencies=no
# We start *After* ostree-finalize-staged, because then we will be stopped *Before* it, and stop is where finalization happens.
After=ostree-finalize-staged.service
StopPropagatedFrom=ostree-finalize-staged.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/watchdog-start

[Install]
RequiredBy=ostree-finalize-staged.service
